@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;  
}

/* mobile navbar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    width: 51px;
      font-size: 30px;
    cursor: pointer;
    background: none;
    padding: 3px 10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .firstPage {
      width: 100%;
      background-image: url(./img/17.jpg);
      background-position: center;
      background-size: cover;
      height: 768px;
      /* opacity: 15%; */
  }

  .firstSection {
      color: #EC5242;
      font-size: 2.4rem;
      font-family: "Lato", sans-serif;

      position: relative;
    left: 0;
    color: #e85242;
    font-size: 3rem;
    line-height: 1.2;
    padding-top: 10rem;
    margin-left: 0;
    max-width: 45rem;
    font-weight: 600;
  }

  .firstSection h1 {
    margin-top: -172px;
  }

  .sectionText {
      color:#272A31;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      background-color: #D3D3D3;
      margin: 5px;
      border: 5px;
      border-color: azure;

  }

  .secondSection {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: 768px;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .secondSection h2 {

    width: 100%;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    font-size: 500;
    padding: 10px;
  }

  .programbtn {
    background-color:#EC5242;
    color: white;
    width: 70%;
    height: 90px;
    margin-left: 13%;
    margin-top: 79px;
    font-size: 35px;
  }

  .programTitle {
    color: #EC5242;
    font-weight: bold;
    font-size: 140%;
    padding: 8px;

  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spaceSpeacker {
    width: 90%;
    background-color: rgba(211, 211, 211, 0.2);
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-bottom: 20px;
    height: 85px;
}

.spaceSpeacker p {
  margin: 10px;
  font-weight: bold;
}

  .icon {
    width: 49px;
    height: min-content;
    padding: 5px;

  }

  .speackerimg {
    width: 150px;
  }

  .speackersContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .speacker {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 25px;
  }

  .speacker h4 {
    color: #EC5242;
  }

  .featured {
    width: 100%;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    font-size: 500;
    padding: 7px;
    padding-top: 30px; 
    padding-bottom: 40px;
  }

  button:hover {
    cursor: pointer;
  }

  .container {
    font-family: "Lato", sans-serif;
    font-weight: bold;  
  }
